.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  left: -15vw;
  position:relative;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.tasklist {
  border: 2px solid white;
  padding: 75px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position:relative;
  text-align:center;
}

.tasklist > p {
  border-bottom:2px solid white;
  margin: 0 auto 30px auto;
  width: fit-content;
}

.App-Main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
